<style>
	@media only screen and (max-width: 600px)
	{
		img#main_0_ctl01_ctl00_ImageBrand {
			margin-left: 30%;
		}
		div#SpecificModule1 {
			margin-top: 30%;
		}
		select#ddlSecNavMobile {
			background-color: white;
			color: #229fe3;
		}
		label.sec_nav_select_arrow {
			color: #226c95 !important;
		}
	}
	@media only screen and (min-width: 601px)
	{
		img#main_0_ctl01_ctl00_ImageBrand {
			margin-left: 20%;
		}
	}
	a {
		text-decoration: none;
	}
	a.cta-button {
		background-color: #229fe3 !important;
		padding: 5% !important;
	}
	a.cta-button:hover {
		background-color: #9dd4f2 !important;
		color: #229fe3 !important;
	}
	div#productResultsModule {
		display: none;
	}
	.row {
		margin-bottom: 20px;
	}
	.column-1 {
		display: inline-block;
		margin: 0 2% 0 2%;
		width: 45%;
	}
	.column-2 {
		display: inline-block;
		margin: 0 2% 0;
		width: 45%;
	}
	img.article {
		max-width: 100%;
		height: auto;
	}
</style>
<div class="row">
	<div class="column-1">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/quiz-produk-perawatan-wajah-apa-yang-paling-pas-untuk-jenis-kulitmu" target="_blank">
			<img class="article" height="203" alt="artikel-page-9" width="304" src="~/media/2c1f4971ff7346efacf95919c4b2c6d1.ashx?la=id-id" />
		</a>
	</div>
	<div class="column-2">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/4-cara-sederhana-menghilangkan-jerawat" target="_blank">
			<img class="article" height="203" alt="artikel-page-8" width="304" src="~/media/afcdcac33f064fd88016ae4c2f87f788.ashx?la=id-id" />
		</a>
	</div>
</div>
<div class="row">
	<div class="column-1">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/infographic-4-tips-kulit-cerah-dan-segar-dengan-matcha" target="_blank">
			<img class="article" height="203" alt="artikel-page-7" width="304" src="~/media/ade2cc6b37a647778b2ed49ee6bba701.ashx?la=id-id" />
		</a>
	</div>
	<div class="column-2">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/4-tips-bikin-kulit-cerah-dan-segar-pakai-matcha" target="_blank">
			<img class="article" height="203" alt="artikel-page-6" width="304" src="~/media/e5011659885a4b3f89a4cfa3f29d4e79.ashx?la=id-id" />
		</a>
	</div>
</div>
<div class="row">
	<div class="column-1">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/7-keunikan-matcha-yang-wajib-kamu-tahu" target="_blank">
			<img class="article" height="203" alt="artikel-page-5" width="304" src="~/media/cf16539ad15047ffbe9b4027c282662b.ashx?la=id-id" />
		</a>
	</div>
	<div class="column-2">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/7-minuman-sehat-yang-bisa-mencegah-jerawat" target="_blank">
			<img class="article" height="203" alt="artikel-page-4" width="304" src="~/media/b751c91634904814a277203734e6eb48.ashx?la=id-id" />
		</a>
	</div>
</div>
<div class="row">
	<div class="column-1">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/agar-kulitmu-bebas-debu-dan-efek-polusi-coba-3-cara-perawatan-wajah-ini" target="_blank">
			<img class="article" height="203" alt="artikel-page-3" width="304" src="~/media/95e61a81d31b42318897441219f18969.ashx?la=id-id" />
		</a>
	</div>
	<div class="column-2">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/generasi-matcha-kini-siapa-aja-sih" target="_blank">
			<img class="article" height="203" alt="artikel-page-2" width="304" src="~/media/c4993031c2b1448ebb1fc90aeb0105d5.ashx?la=id-id" />
		</a>
	</div>
</div>
<div class="row">
	<div class="column-1">
		<a href="http://www.garnier.co.id/garnier-magazine/perawatan-wajah/perawatan-wajah/takut-kulit-wajah-kusam-coba-4-tips-ini-aja" target="_blank">
			<img class="article" height="203" alt="artikel-page-1" width="304" src="~/media/90a593422017436b82e2e4429204f9a6.ashx?la=id-id" />
		</a>
	</div>
</div>