<style>
	@media only screen and (max-width: 600px)
	{
		img#main_0_ctl01_ctl00_ImageBrand {
			margin-left: 30%;
		}
		div#SpecificModule1 {
			margin-top: 30%;
		}
		select#ddlSecNavMobile {
			background-color: white;
			color: #229fe3;
		}
		label.sec_nav_select_arrow {
			color: #226c95 !important;
		}
		p.header-text {
			background-color: white;
		}
	}
	@media only screen and (min-width: 601px)
	{
		img#main_0_ctl01_ctl00_ImageBrand {
			margin-left: 20%;
		}
	}
	a.cta-button {
		background-color: #229fe3 !important;
		padding: 5% !important;
	}
	a.cta-button:hover {
		background-color: #9dd4f2 !important;
		color: #229fe3 !important;
	}	
	div#productResultsModule {
		display: none;
	}
	div.main {
		display: block;
		width: 100%;
	}
	p.header-text {
		color: #229fe3;
		margin-bottom: 20px;
		font-size: 20px;
	}
	img.infographic {
		display: block;
		max-width: 100%;
		height: auto;
	}
</style>
<div class="main">
	<p class="header-text">Solusi Kulit <strong>Bebas Minyak dan Jerawat</strong> dengan Sentuhan Bahan Alami</p>
	<img height="680" alt="infographic-kandungan" width="680" src="~/media/02c7b7aaf9964acda44c841e9f333382.ashx?la=id-id" class="infographic"/>
</div>